<div id="stylized" class="myform">
<%= form_for @group, :html => { :id => "form", :name => "form"} do |f| %>
	
	<h1>Create New Group</h1>
	<p>Enter new group's information</p>
	

	<%= render "errors/form_validation_errors", :target => @group  %>
			<div class="spacer">				
			<label>Name
			<span class="small">Unique name among all other groops</span>
			</label>
		  <%= f.text_field :name, :html => { :id => "group_form_form_input_field"} %>
			</div><br/>
			<div class="spacer">
		  <label>Password
		  <span class="small">Required, make it however weak you want</span></label>
		  <%= f.password_field :password, :html => { :id => "group_form_form_input_field"} %>
		  </div><br/>
			<div class="spacer">
		  <label>Password Confimation
		  <span class="small">The same password preferably</span></label>
		  <%= f.password_field :password_confirmation, :html => { :id => "group_form_form_input_field"} %>
		  </div><br/>
			<div class="spacer">
		  <label>Topic
		  <span class="small">What's it all about?</span></label>
		  <%= f.text_area :topic, :id => "stylized_text_area" %>
		  </div><br/>
			<div class="spacer center">
		<div style="margin: 0 auto; width: 280px;">
	  	<%= f.submit "Create", :id => "s_button" %>
		</div>
	  	</div>
<% end %>
</div>
<br/><br/>