<script>
PrivatePub.subscribe("<%= "/channels/" + params[:channel_name] %>", function(message) {
switch(message.action)
{
	case "chat":
		$("#chat").append("<div class=\"rp_box\">" + message.content + "</div>");
		$("#new_message")[0].reset();
		break;
	case "drawIdea":
		drawIdea(jQuery.parseJSON(message.content).cont, jQuery.parseJSON(message.content).color);
		break;
	case "stop":
		$("#canvas_buttons_normal *").disable();
		alert("Supervisor decided to stop brainstorming, brainstorming board editing has been disabled.");
		break;
	case "save":
		drawingLayer.remove();
		drawingLayer = Kinetic.Node.create(message.content);
		for(var n = 0; n < drawingLayer.getChildren().length; n++){
			var shape = drawingLayer.getChildren()[n];
			shape.on("dblclick", function(evt) {
				if(evt.shape.getFill() != 'black') evt.shape.setFill('black');
				else evt.shape.setFill('#ffc');
			});
		}
		stage.add(drawingLayer);
		$("#canvas_buttons_normal *").enable();
		alert("Supervisor ended evaluation, you can now see results on your board.");
		break;
}
});

window.onload = function() 
{
	$('#drawIdea_color_picker').colorPicker({			
	  click: function(color){document.getElementById('drawIdea_color').setAttribute('value', color);} 
	});
	
    stage = new Kinetic.Stage({
      container: 'canvas_container',
      width: 980,
      height: 2000
    });
    ideaColumn = 1;
    ideaRow = 1;
    ideaRotate = 0;
    drawingLayer = new Kinetic.Layer();
    stage.add(drawingLayer);
	
	<% if @save_message %>
		drawingLayer.remove();
		drawingLayer = Kinetic.Node.create("<%= @save_message.content %>".replace(/&quot;/g,'"'));
		for(var n = 0; n < drawingLayer.getChildren().length; n++){
			var shape = drawingLayer.getChildren()[n];
			shape.on("dblclick", function(evt) {
				if(evt.shape.getFill() != 'black') evt.shape.setFill('black');
				else evt.shape.setFill('#ffc');
			});
		}
		stage.add(drawingLayer);
	<% else %>
		var x = "";
		<% @drawImage_messages.each do |m| %>
		x = jQuery.parseJSON("<%= m.content %>".replace(/&quot;/g,'"'));
		drawIdea(x.cont, x.color);
		<% end %>
	<% end %>
};
  
function drawIdea(textc, colorc)
{
    if(ideaRow == 11) return;
    var text = new Kinetic.Text({
        x: 50 + (250 * (ideaColumn-1)) + Math.floor(Math.random() * (45 +45 + 1) -45),
        y: 50 + (200 * (ideaRow - 1)) + Math.floor(Math.random() * (24 +24 + 1) -24),
        stroke: '#000',
        draggable: true,
		listening: true,
        strokeWidth: 1,
        fill: colorc,
        text: textc,
        fontSize: 13,
        fontFamily: 'Tahoma',
        textFill: '#000',
        width: 200,
        padding: 10,
        align: 'justify',
        fontStyle: 'italic',
        shadow: {
        color: 'black',
        blur: 4,
        offset: [5, 5],
        opacity: 0.3
        }
    });
	text.on("dblclick", function(evt) {
		if(evt.shape.getFill() != 'black') evt.shape.setFill('black');
		else evt.shape.setFill('#ffc');
	});
	
    var rotate = -1;
    if(ideaRotate % 3 == 0 || ideaRotate % 5 == 0) rotate = 1;
    text.rotate((Math.PI/60)*rotate);
    ideaColumn++;
    if(ideaColumn == 5)
    {
        ideaColumn = 1;
        ideaRow++;
    }
    ideaRotate++;
	
    drawingLayer.add(text);
    drawingLayer.draw();
}

function toImage() 
{
    stage.toDataURL({
        callback: function(dataUrl) {
            window.open(dataUrl);
        }
    });
}
<% if @group.supervisor == @current_user.id %>
function save()
{
    document.getElementById('save_hidden_content').setAttribute('value', drawingLayer.toJSON());
	$("#save_form").submit();
}
<% end %>

function drawIdea_form_submit()
{
	document.getElementById('drawIdea_hidden_content')
		.setAttribute('value', JSON.stringify({color : document.getElementById('drawIdea_color').value,
								cont : document.getElementById('drawIdea_content').value}));
	$("#drawIdea_form").submit();
}

$.fn.disable = function() {
    return this.each(function() {
        if (typeof this.disabled != "undefined") this.disabled = true;
    });
}

$.fn.enable = function() {
    return this.each(function() {
        if (typeof this.disabled != "undefined") this.disabled = false;
    });
}
</script>
<%= subscribe_to "/channels/" + params[:channel_name] %>
<div id="templatemo_body_wrapper">
	<div id="templatemo_wrapper">
        <div id="templatemo_header">
            <div id="site_title"><h1><%= link_to "Brainstorming online", "/"%></h1></div>
            <div id="templatemo_menu">
                <ul>
					  <li><a href="/">Home</a></li>
					  <li><a href="/groups"  class="current">Groups</a></li>
					  <li><a href="/logout" class="last">Log out</a></li>
                </ul>
            </div>
        </div>
        <div id="templatemo_middle">
            <div id="mid_left">
					<div id="mid_title"> <%= @group.topic %></div>
					<p>Group name: <%= @group.name %></p>
            </div>
			<%=image_tag("ntstr.png", alt: "NetStorming", width: "270px", height: "270px")%>
        </div>
        <div id="templatemo_main">
			<div id="canvas_container"></div>
			<div class="rp_box"></div>
            <div class="cbox_fw ow_hid">
					<div id="canvas_buttons">
						<div id="canvas_buttons_normal">
						  <%= form_for Message.new, :url => "/chatrooms/" + params[:channel_name] + "/create_message", :id => "drawIdea_form", remote: true do |f| %>
							<%= f.hidden_field :action, :value => "drawIdea" %>
							<%= f.hidden_field :content, :value => "", :id => "drawIdea_hidden_content" %>
							<textarea rows="10" cols="60" id="drawIdea_content"></textarea>
							<div id="drawIdea_color_picker"></div>
							<input type="hidden" value="" id="drawIdea_color" />
							<%= f.submit "Add Idea", :class => "send_but", :onclick => "drawIdea_form_submit()" %>
						  <% end %>
						  <input type="button" value="Export to image" onclick="toImage()" class="send_but" />
						</div>
						<div class="rp_box"></div>
						<% if @group.supervisor == @current_user.id %>
						<%= form_for Message.new, :url => "/chatrooms/" + params[:channel_name] + "/create_message", remote: true do |f| %>
							<%= f.hidden_field :action, :value => "stop" %>
							<%= f.submit "STOP", :class => "send_but" %>
						<% end %>
						<%= form_for Message.new, :url => "/chatrooms/" + params[:channel_name] + "/create_message", :id => "save_form", remote: true do |f| %>
							<%= f.hidden_field :content, :value => "", :id => "save_hidden_content" %>
							<%= f.hidden_field :action, :value => "save" %>
							<%= f.submit "Save and publish", :class => "send_but", :onclick => "save()" %>
						<% end %>
						<% end %>
					</div>
					<div id="chat_wrap">
						<div id="chat">
						  <%= render @chat_messages, :template => 'rooms/message' %>
						</div>
						<%= form_for Message.new, :url => "/chatrooms/" + params[:channel_name] + "/create_message", remote: true do |f| %>
						  <%= f.hidden_field :action, :value => "chat" %>
						  <%= f.text_area :content, :size => "61x10" %>
						  <%= f.submit "Send", :class => "send_but" %>
						<% end %>
					</div>
                <div class="cleaner"></div>
            </div>
        </div>
    </div>
</div>
<div id="templatemo_footer_wrapper">
    <div id="templatemo_footer">
        Copyright 2013 <a href="/">NetStorming</a>
        <div class="cleaner"></div>
    </div>
</div>